<div>
    <strong>Nome</strong>
    <input type="text" class="form-control" name="nome" value="<%= @carro&.nome %>">
</div>
<div>
    <strong>Modelo</strong>
    <input type="text" class="form-control" name="modelo" value="<%= @carro&.modelo %>">
</div>
<div>
    <strong>Ano</strong>
    <input type="text" class="form-control" name="ano" value="<%= @carro&.ano %>">
</div>