<section class="text-center container">
  <h1>Editar o carro</h1>
  <hr>
  <div style="text-align: left;">
    <form action="<%= carros_alterar_path(@carro) %>" method="post">
      <input type="hidden" name="_method" value="put">
      <%= render 'form' %>
      <hr>
      <button type="submit" class="btn btn-primary">Enviar</button>
      <a href="/carros" class="btn btn-warning">Voltar para a lista</a>
    </form>
  </div>
</section>