<h1>Monstrando o carro</h1>

<hr>

<div><strong>Id:</strong><%= @carro.id %></div>
<div><strong>Nome</strong><%= @carro.nome %></div>
<div><strong>Modelo</strong><%= @carro.modelo %></div>
<div><strong>Ano</strong><%= @carro.ano %></div>