<h1>Bem vindo pessoal</h1>

<ul>
  <% @itens.each do |item| %>
    <li><%= item %></li>
  <% end %>
</ul>

<a href="<%= pagina_sobre_path %>">P치gina de sobre</a>
<!-- <a href="/sobre">P치gina de sobre</a> -->
<br>
<a href="<%= pagina_sobre_url %>">P치gina de sobre</a>
<!-- <a href="http://127.0.0.1:3000/sobre">P치gina de sobre</a> -->