<h1>Editing fornecedor</h1>

<%= render "form", fornecedor: @fornecedor %>

<br>

<div>
  <%= link_to "Mostrar", @fornecedor, class: "btn btn-warning" %> |
  <%= link_to "Voltar", fornecedores_path, class: "btn btn-primary" %>
</div>
