<section class="text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Bem-vindo ao sistema de veículos</h1>
      <p class="lead text-body-secondary"></p>
      <p>
        <a href="/carros" class="btn btn-primary my-2">Ver carros</a>
      </p>
    </div>
  </div>
</section>