<div id="<%= dom_id fornecedores_enderecos %>">
  <p>
    <strong>Endereco:</strong>
    <%= fornecedores_enderecos.endereco_id %>
  </p>

  <p>
    <strong>Fornecedor:</strong>
    <%= fornecedores_enderecos.fornecedor_id %>
  </p>

</div>
