<h1>Editing fornecedores enderecos</h1>

<%= render "form", fornecedores_enderecos: @fornecedores_enderecos %>

<br>

<div>
  <%= link_to "Show this fornecedores enderecos", @fornecedores_enderecos %> |
  <%= link_to "Back to fornecedores enderecoses", fornecedor_fornecedores_enderecos_path(@fornecedor) %>
</div>
